/*
===========================
===========================

MAIN STYLE

Author: Hung Luong
Email: luongquochung.249@gmail.com

===========================
===========================
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700&subset=vietnamese");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=vietnamese");
html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700; }

h6 {
  font-weight: 500; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 3.75rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.125rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }
  h6.subtitle-md {
    font-size: 1rem; }
  h6.subtitle-sm {
    font-size: 0.875rem; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0; }

.text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.btn {
  font-family: 'Montserrat', sans-serif; }
  .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(151, 212, 202, 0.25); }
  .btn:not(:disabled):not(.disabled):active {
    background-color: #C7EDE7;
    border-color: #97D4CA; }
  .btn.btn-primary {
    background-color: #97D4CA;
    border-color: #C7EDE7;
    color: #fff; }
    .btn.btn-primary:hover {
      color: #66B3A6;
      background-color: #C7EDE7; }
  .btn.btn-light {
    background-color: #fff;
    border-color: #fff;
    color: #97D4CA; }
    .btn.btn-light:hover {
      background-color: #F0FCFA; }
  .btn.btn-outline-light:hover {
    color: #97D4CA; }

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030; }
  header .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #97D4CA; }
    header .container .nav-brand a img {
      width: 70px;
      height: 82px; }
    header .container .nav-main ul li {
      display: inline-block;
      padding: 0 7.5px;
      text-align: center; }
      header .container .nav-main ul li a {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 0.75rem; }
        header .container .nav-main ul li a img {
          width: 25px; }

.mask {
  overflow: hidden; }
  .mask.mask-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .mask img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

a:hover {
  text-decoration: none; }

footer {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #2f2f2f; }
  footer .container .row .item h5 {
    color: #fff;
    padding-bottom: 7.5px; }
  footer .container .row .item ul li a {
    color: #C4C3C3; }
    footer .container .row .item ul li a:hover {
      color: #fff; }

#homepage #slideHomepage {
  width: 100%;
  height: 100vh; }
  #homepage #slideHomepage .carousel-inner {
    height: 100%; }
    #homepage #slideHomepage .carousel-inner .carousel-item {
      height: 100%; }
      #homepage #slideHomepage .carousel-inner .carousel-item .mask {
        height: 100%; }
      #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption {
        max-width: 75%;
        bottom: 50%;
        left: 50%;
        right: auto;
        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        border: 2px solid #fff;
        border-top: none; }
        #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6 {
          text-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
          #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md {
            position: relative;
            -webkit-transform: translate(0, -30px);
            -moz-transform: translate(0, -30px);
            -ms-transform: translate(0, -30px);
            -o-transform: translate(0, -30px);
            transform: translate(0, -30px); }
            #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 35%;
              height: 10px;
              border-top: 2px solid #fff; }
            #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h6.subtitle-md:after {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 35%;
              height: 10px;
              border-top: 2px solid #fff; }
        #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h3 {
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
          #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption h3.text-wrapper {
            height: 3.5em;
            -webkit-line-clamp: 3; }
        #homepage #slideHomepage .carousel-inner .carousel-item .carousel-caption .btn {
          -webkit-transform: translate(0, 120px);
          -moz-transform: translate(0, 120px);
          -ms-transform: translate(0, 120px);
          -o-transform: translate(0, 120px);
          transform: translate(0, 120px); }
#homepage .section .section-intro {
  width: 75%;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center; }
  #homepage .section .section-intro h5 {
    margin-bottom: 30px;
    text-transform: uppercase; }
    #homepage .section .section-intro h5.heading {
      color: #97D4CA; }
  #homepage .section .section-intro p {
    font-size: 1.125rem;
    color: #949494; }
#homepage .section .section-footer {
  width: 100%; }
#homepage .section.about {
  height: 600px; }
  #homepage .section.about .row {
    height: 100%; }
    #homepage .section.about .row .left {
      background-image: url("../img/aboutus-doctors.png");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 75%; }
    #homepage .section.about .row .right .slide {
      width: 100%;
      height: 100%; }
      #homepage .section.about .row .right .slide .carousel-indicators li {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      #homepage .section.about .row .right .slide .carousel-inner {
        height: 100%; }
        #homepage .section.about .row .right .slide .carousel-inner .carousel-item {
          height: 100%; }
          #homepage .section.about .row .right .slide .carousel-inner .carousel-item .mask {
            height: 100%; }
          #homepage .section.about .row .right .slide .carousel-inner .carousel-item .carousel-caption {
            width: 50%;
            bottom: 50px;
            left: 50%;
            right: auto;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            border: 2px solid #fff;
            padding: 30px; }
            #homepage .section.about .row .right .slide .carousel-inner .carousel-item .carousel-caption h6 {
              margin-bottom: 30px;
              text-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
            #homepage .section.about .row .right .slide .carousel-inner .carousel-item .carousel-caption ul li {
              font-size: 1rem;
              text-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
#homepage .section.services .container .owl-carousel {
  margin-top: 45px; }
  #homepage .section.services .container .owl-carousel .item {
    text-align: center; }
    #homepage .section.services .container .owl-carousel .item .mask {
      width: 100px;
      height: 100px;
      margin: 0 auto 15px; }
    #homepage .section.services .container .owl-carousel .item p {
      color: #97D4CA; }
#homepage .section.services .container .section-footer {
  text-align: center;
  padding-bottom: 30px; }
#homepage .section.whyus {
  width: 100%;
  height: 600px; }
  #homepage .section.whyus > .row {
    height: 100%; }
    #homepage .section.whyus > .row .left {
      position: relative; }
      #homepage .section.whyus > .row .left .mask {
        width: 100%;
        height: 100%; }
      #homepage .section.whyus > .row .left .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: #3f9385;
        background: -moz-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, #3f9385), color-stop(100%, #f0fcfa));
        background: -webkit-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
        background: -o-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
        background: -ms-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
        background: linear-gradient(135deg, #3f9385 0%, #f0fcfa 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9385', endColorstr='#f0fcfa', GradientType=1 );
        opacity: 0.85; }
      #homepage .section.whyus > .row .left .wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: normal;
        align-items: center; }
        #homepage .section.whyus > .row .left .wrapper .row {
          color: #fff; }
    #homepage .section.whyus > .row .right .row {
      height: 100%; }
      #homepage .section.whyus > .row .right .row .item {
        height: 50%; }
        #homepage .section.whyus > .row .right .row .item a {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          -webkit-transition: all ease-in-out 300ms;
          -moz-transition: all ease-in-out 300ms;
          -ms-transition: all ease-in-out 300ms;
          -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms; }
          #homepage .section.whyus > .row .right .row .item a .content {
            width: 50%;
            text-align: center; }
            #homepage .section.whyus > .row .right .row .item a .content svg {
              width: 50px;
              height: 50px;
              margin-bottom: 15px; }
              #homepage .section.whyus > .row .right .row .item a .content svg path {
                -webkit-transition: all ease-in-out 300ms;
                -moz-transition: all ease-in-out 300ms;
                -ms-transition: all ease-in-out 300ms;
                -o-transition: all ease-in-out 300ms;
                transition: all ease-in-out 300ms; }
                #homepage .section.whyus > .row .right .row .item a .content svg path.line {
                  fill: #97D4CA; }
                #homepage .section.whyus > .row .right .row .item a .content svg path.fill {
                  fill: #F0FCFA; }
            #homepage .section.whyus > .row .right .row .item a .content p {
              color: #97D4CA;
              -webkit-transition: all ease-in-out 300ms;
              -moz-transition: all ease-in-out 300ms;
              -ms-transition: all ease-in-out 300ms;
              -o-transition: all ease-in-out 300ms;
              transition: all ease-in-out 300ms; }
          #homepage .section.whyus > .row .right .row .item a:hover {
            background-color: #97D4CA;
            -webkit-transition: all ease-in-out 300ms;
            -moz-transition: all ease-in-out 300ms;
            -ms-transition: all ease-in-out 300ms;
            -o-transition: all ease-in-out 300ms;
            transition: all ease-in-out 300ms; }
            #homepage .section.whyus > .row .right .row .item a:hover .content svg path.line, #homepage .section.whyus > .row .right .row .item a:hover .content svg path.fill {
              fill: #fff;
              -webkit-transition: all ease-in-out 300ms;
              -moz-transition: all ease-in-out 300ms;
              -ms-transition: all ease-in-out 300ms;
              -o-transition: all ease-in-out 300ms;
              transition: all ease-in-out 300ms; }
            #homepage .section.whyus > .row .right .row .item a:hover .content p {
              color: #fff;
              -webkit-transition: all ease-in-out 300ms;
              -moz-transition: all ease-in-out 300ms;
              -ms-transition: all ease-in-out 300ms;
              -o-transition: all ease-in-out 300ms;
              transition: all ease-in-out 300ms; }
#homepage .section.story .owl-carousel .item h6 {
  margin-bottom: 15px; }
  #homepage .section.story .owl-carousel .item h6.subtitle-sm {
    color: #C4C3C3; }
#homepage .section.story .owl-carousel .item h5 {
  font-weight: 400;
  margin-bottom: 7.5px; }
  #homepage .section.story .owl-carousel .item h5.text-wrapper {
    height: 5.5rem;
    -webkit-line-clamp: 3; }
  #homepage .section.story .owl-carousel .item h5 a {
    color: #666; }
#homepage .section.story .owl-carousel .item .mask {
  width: 100%;
  height: 230px; }
#homepage .section.story .owl-carousel .owl-dots {
  margin-top: 15px;
  text-align: center; }
  #homepage .section.story .owl-carousel .owl-dots button {
    width: 10px;
    height: 10px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #C4C3C3; }
    #homepage .section.story .owl-carousel .owl-dots button.active {
      background-color: #97D4CA; }
#homepage .section.story .section-footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
#homepage .section.testimonial {
  width: 100%;
  padding-bottom: 30px;
  position: relative; }
  #homepage .section.testimonial .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  #homepage .section.testimonial .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #3f9385;
    background: -moz-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #3f9385), color-stop(100%, #f0fcfa));
    background: -webkit-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
    background: -o-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
    background: -ms-linear-gradient(-45deg, #3f9385 0%, #f0fcfa 100%);
    background: linear-gradient(135deg, #3f9385 0%, #f0fcfa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9385', endColorstr='#f0fcfa', GradientType=1 );
    opacity: 0.85; }
  #homepage .section.testimonial .container .section-intro h5.heading {
    color: #fff; }
  #homepage .section.testimonial .container .owl-carousel .item {
    width: 75%;
    margin: 0 auto;
    text-align: center; }
    #homepage .section.testimonial .container .owl-carousel .item .mask {
      width: 130px;
      height: 130px;
      margin: 0 auto 15px; }
    #homepage .section.testimonial .container .owl-carousel .item p {
      font-size: 1.125rem;
      color: #fff;
      font-style: italic;
      margin-bottom: 15px; }
    #homepage .section.testimonial .container .owl-carousel .item h6 {
      color: #fff;
      text-transform: uppercase; }
  #homepage .section.testimonial .container .owl-carousel .owl-nav {
    padding-top: 15px;
    text-align: center; }
    #homepage .section.testimonial .container .owl-carousel .owl-nav button {
      margin-left: 7.5px;
      margin-right: 7.5px;
      font-size: 1.5rem;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
